img {
    height: 200px;
    width: 200px;
}

.first_section {
    background-color: #1c1d25;
    height: 350vh;
    color: white;
    font-size: 20px;
    align-content: center;
}

button{
    color: rebeccapurple;
    border-radius: 50px;
}

button:hover{
    background-color: rebeccapurple;
    color: yellow;
}

button:active{
    background-color: greenyellow;
    border: 2px solid greenyellow;
    color: rebeccapurple;
}

.container1 {
    display: flex;
    flex-direction: row;
    border: 4px #1c1d25;
    column-gap: 32px;
    justify-content: space-evenly;
    padding: 32px;
}

.container2 {
    display: flex;
    flex-direction: column;
    border: 4px yellowgreen;
    row-gap: 32px;
    padding: 32px;
}

.item1 {
    padding: 32px;
    border: 4px solid coral;
}

.hidden {
    display: none;
}

.button {
    border: 4px solid peachpuff;
}
.button:hover {
    background: black;
    transition-duration: 0.3s;
    color: teal;
    cursor: pointer;
}