img {
    height: 200px;
    width: 200px;
}

.first_section {
    background-color: #1c1d25;
    height: 350vh;
    color: white;
    font-size: 20px;
    align-content: center;
}

button{
    color: rebeccapurple;
    border-radius: 50px;
}

button:hover{
    background-color: rebeccapurple;
    color: yellow;
}

button:active{
    background-color: greenyellow;
    border: 2px solid greenyellow;
    color: rebeccapurple;
}