.grid-container {
    display: grid;
    border: 5px solid saddlebrown;
    height: 600px;
    gap: 100px;
    grid-template-columns: 150px 150px 150px;
    grid-auto-rows: 150px 150px 150px;
    justify-content: space-evenly;
    align-content: space-between;