section {
    height: 50px;
    background-color: yellow;
    border:solid black 1px;
}

.title{
    display: flex;
    color: orange;
    font-size:60px;
    justify-content: space-around;
}
img {
    height: 200px;
    width: 200px;
}

.aboutMe:active{
    color: orange;
}

.subject {
    font-size:50px;
    color: yellow;
    justify-content: right;
}

h2 {
    color: greenyellow;
}

button{
    color: rebeccapurple;
    border-radius: 50px;
}

button:hover{
    background-color: rebeccapurple;
    color: yellow;
}

button:active{
    background-color: greenyellow;
    border: 2px solid greenyellow;
    color: rebeccapurple;
}

.first_section {
    background-color: #1c1d25;
    height: 350vh;
    color: white;
    font-size: 20px;
    align-content: center;
}

footer {
    height: 20px;
    background-color: black;
}

label:active{
    color: #1c1d25;
}

nav {
    display: flex;
    justify-content: space-between;
}

li:hover {
    cursor: pointer;
    text-decoration: underline;
    color: white;
}

p {
    margin-left: 175px;
    display: compact;
}

p:hover {
    color: yellow;
    text-decoration: underline;
}

p:active {
    color: orange;
}

a {
    margin-left: 175px;
    display: compact;
}

a:hover {
    color: #1c1d25;
    text-decoration: none;
}

a:active {
    color: green;
}
a:visited {
    color: darkmagenta;
}

ul {
    color: coral;
    display: flex;
    list-style-type: none;
    width: 1000px;
    justify-content: space-around;
    font-size: 30px;
}

#flex-container {

    display: flex;
    justify-content: space-around;
    height: 100px;
    margin: 30px;
}

.flex-item {
    background-color: rgb(13, 53, 182);
    border-radius: 10px;
    text-align: center;
    font-size: 35px;
    color: rgb(119,222,200);
    border: solid 2px rgb(73,62,145);
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

#flex-pictures{
    display: flex;
    justify-content: space-around;
    height: 100px;
    margin: 30px;
}

.flex-pictures {
    background-color: rgb(119, 222, 200);
    border-radius: 10px;
    text-align: center;
    font-size: 35px;
    color: rgb(13, 53, 182);
    border: solid 2px rgb(73, 62, 145);
    font-family: 'Trebuchet MS', Arial, sans-serif;
}
table{
    border: orange;
    align-content: center;
}
td{
    size: 100px;
}
solutionHome{
    align-content: center;
}
tr:hover{
    cursor: pointer;
    background-color: #ccc;
}
.solutionsLinkHome{
    display: marker;}
