section {
    height: 50px;
    background-color: yellow;
    border:solid black 1px;
}

.title{
    color: orange;
    font-size:60px;
}

.subject {
    font-size:35px;
    color: yellow;
}
button{
    color: rebeccapurple;
    border-radius: 50px;
}

.first_section {
    background-color: #1c1d25;
    height: 135vh;
    color: white;
    font-size: 20px;
}
footer {
    height: 100px;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    color: coral;
    display: flex;
    list-style-type: none;
    width: 1000px;
    justify-content: space-around;
    font-size: 30px;
}

hamburger {
border: 0;
background-color: transparent;
color: white;
font-size: 30px;
}

#flex-container {
    display: flex;
    justify-content: space-around;
    height: 100px;
    margin: 30px;
}

.flex-item {
    background-color: blue;
    border-radius: 10px;
    text-align: center;
    font-size: 35px;
    color: rgb(119,222,200);
    border: solid 2px rgb(73,62,145);
    font-family: 'Trebuchet MS', Arial, sans-serif;
}