section {
    height: 500px;
    background-color: yellow;
    border:solid black 1px;
}

.first_section {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}
footer {
    height: 500px;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    /*width: 200px;*/
    text-decoration: none;
}

.hamburger {
border: 0;
background-color: transparent;
color: white;
font-size: 30px;
}

@media(max-width:768px){
.haburger{
        display: block;
        }
.hamburger.active .bar:nth-child(2){
     opactiy: 0;}
}
.hamburger.active .bar:nth-child(1){
     transform: translate>(8px) rotate(45deg);
     }
.hamburger.active .bar:nth-child(1){
      transform: translate>(-8px) rotate(-45deg);
      }
.nav-menu{
    position: fixed;
    Left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}
nav-item{
margin: 16px 0;

}